@charset "utf-8";

/*  */

* {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  box-sizing: border-box;
}
html {
  background-color: #f8ffee;
  height: 600vh;
  font-family: "Zen Maru Gothic", serif;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
p,
a,
li {
  color: #464646;
}
/* スクロールバー */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #bad227;
  border-radius: 5px;
}
/* タイトル */
.title {
  font-size: 2rem;
  color: #464646;
  text-align: center;
  margin-top: 48px;
}
.title_text {
  color: #464646;
  text-align: center;
  margin-top: 32px;
}
.title_box {
  position: absolute;
  top: 0;
}
/* タイトルここまで */

/*  */

.title_view {
  background-color: #f8ffee;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desk {
  display: block;
  width: 350px;
  height: 350px;
  background-image: url(../img/無題479_20231122141155.png);
  background-size: cover;
}
.item_cursor {
  display: block;
  clip-path: polygon(80% 0, 20% 0, 50% 100%);
  background-color: #ff7860;
  width: 30px;
  height: 30px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 49%;

  animation: item-icon 2s both infinite;
}
@keyframes item-icon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.hover_cursor {
  scale: 1.2;
  background-color: red;
}

/* ------ABOUT------ */
.backColor {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #ffb937;
  z-index: -1;
}
.imgBox {
  position: fixed;
  left: 5%;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.textBox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
.textContent {
  background-color: rgba(200, 200, 200, 0.2);
  width: 100%;
  height: 100%;
  padding: 3% 100px;
  display: flex;
}
.imgBox img {
  object-fit: cover;
}

.slideAnime {
  translate: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 5%;
}
.slideAnimation {
  animation: slideIn 0.5s both;
}
@keyframes slideIn {
  0% {
    translate: 100%;
  }
  100% {
    translate: -5%;
  }
}
.removeAnimation {
  animation: slideout 0.5s;
}
@keyframes slideout {
  0% {
    translate: -5%;
  }
  100% {
    translate: 100%;
  }
}
/* ------コンテンツ------ */
/* 自分のこと */
.ploBox {
  border-top: 1px solid #464646;
  width: 60%;
  min-width: 280px;
  padding: 10px 0;
  margin: 0 auto;
}
.ploContent {
  width: 100%;
}
.ploBox:nth-last-child(1) {
  border-bottom: 1px solid #464646;
}
.ploBox:nth-child(1) {
  border-top: 0;
}
.ploImgContent {
  display: flex;
}
.ploImgContent img {
  width: 50%;
  padding: 0 10px;
  object-fit: cover;
  object-position: center;
}
/* スキルのこと */
.blank {
  display: inline-block;
  width: 1rem;
}
/* 趣味のこと */

/* ------コンテンツここまで------ */
@media screen and (max-width: 600px) {
  .imgBox {
    width: 100%;
    height: 110vh;
    left: 0;
  }
  html {
    height: 700vh;
  }
  .ploBox {
    border-top: 1px solid #464646;
    /* width: 80%; */
    /* min-width: 240px; */
    margin: 0;
    padding: 10px 0;
  }
  .textContent {
    padding: 5% 0;
  }
  .ploContent {
    width: 300px;
    margin: 0 auto;
  }
  .textContent h2,
  .textContent h3,
  .textContent p {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .ploImgContent {
    display: none;
  }
}
