@charset "utf-8";

/*  */

* {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  box-sizing: border-box;
}
html {
  background-color: #f8ffee;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
p,
a,
li {
  color: #464646;
}
section {
  margin: 64px auto;
}
.web_p:any-link,
.illust_p:any-link,
.fanfic_p:any-link {
  color: #464646;
}

/* タイトル */
.title {
  font-size: 2rem;
  text-align: center;
  margin-top: 48px;
}
.title_text {
  text-align: center;
  margin-top: 32px;
}
/* ------main------ */
.content_title {
  width: 70%;
  font-size: 24px;
  margin: 0px auto;
  padding: 40px;
}
.content {
  background-color: #bad227;
  width: 350px;
  height: 350px;
  min-width: 350px;
  border-radius: 30px;
  margin: 16px;
  display: flex;
}
/* web content */
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#web_container img {
  object-position: top;
}
/* illust content */
.contentBox {
  background-color: #fff;
  border-radius: 20px;
  width: 90%;
  height: 90%;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}
.contentBox img {
  object-fit: cover;
  object-position: center;
}
/* 左のスクロールアニメーション */
.scroll_where {
  position: fixed;
  top: 50vh;
  left: -80px;
  width: fit-content;
  transform: rotate(-90deg);
}
.scroll_where p {
  font-size: 28px;
  font-weight: bold;
}

.phoneSise {
  display: none;
}

/* 左のスクロールアニメーションここまで */

/* モーダル */

.modalBack {
  /* モーダルの背景設定 */
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  cursor: pointer;
}
.modalBase {
  position: fixed;
  z-index: 99999;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  transition: 0.3s;
  display: none;
  overflow-y: scroll;
}
.modalAnime_Open {
  animation: modalAnimeOpen 0.5s both;
  display: block;
}
@keyframes modalAnimeOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.siteContent,
.siteViewing {
  padding: 16px 32px;
}
.siteViewing {
  background-color: #f8ffee;
  overflow-y: hidden;
  height: 70vh;
}
.siteViewing img {
  height: fit-content;
  object-fit: cover;
  object-position: top;
}
.siteContent {
  /* left: 50%; */
  background-color: #f8ffee;
}
.closeBtn {
  position: fixed;
  rotate: 45deg;
  z-index: 99999;
  scale: 4;
  top: 5%;
  right: 5%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* 縦横中央 */
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.closeBtn p {
  color: #fff;
}
.modalAnime_Close {
  animation: modalAnimeClose 0.5s both;
}
@keyframes modalAnimeClose {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.modalContent {
  display: none;
}
.modalContent_View {
  display: block;
}

/* モーダルここまで */

/* contentアニメーション */
.contentFadeIn {
  animation: contentFadeIn 0.5s both;
}
@keyframes contentFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* モーダルコンテンツ */

.siteContent h3 {
  font-size: 24px;
  border-left: 10px double #ff7860;
  margin: 16px;
  padding-left: 8px;
}
.contentList li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  padding: 20px 10px;
  border-top: 1px solid #464646;
  /* border-bottom: 1px solid #464646; */
}
.contentList p {
  font-size: 16px;
  font-weight: lighter;
  padding: 10px;
  /* background-color: #fff;
  border: 1px solid #bad227; */
  margin: 0 auto;
}
.codeUseLang_Box {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.codeUseLang {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 1px solid #bad227;
  border-radius: 50%;
  margin: 0 10px;
}
.codeUseLang img {
  object-fit: cover;
  padding: 10px;
}

/* ------レスポンシブ------ */
@media screen and (max-width: 600px) {
  .siteContent,
  .siteViewing {
    padding: 16px;
  }
  .scroll_where {
    transform: rotate(0);
    top: 20px;
    left: unset;
    right: 10px;
    display: none;
  }
  .scroll_where p {
    font-size: 24px;
  }
  .codeUseLang {
    width: 60px;
    height: 60px;
  }

  /* アニメーション */
  .scrollFadeIn {
    display: block;
    transform: translateY(-100%);
    animation: scrollFadeIn 0.5s both;
  }
  @keyframes scrollFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .scrollFadeOut {
    animation: scrollFadeOut 0.5s both;
  }
  @keyframes scrollFadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
    }
  }
  /* アニメーションここまで */
}
@media screen and (max-width: 850px) {
  .modalBase {
    overflow-y: scroll;
  }
  .siteContent,
  .siteViewing {
    width: 100%;
  }
  .siteViewing {
    height: 300px;
    overflow-y: hidden;
  }
  .siteContent {
    top: 300px;
    left: unset;
    height: fit-content;
  }
  .siteContentChild {
    position: static;
  }
}
