@charset "utf-8";

/*  */

* {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  box-sizing: border-box;
}
html {
  background-color: #f8ffee;
  font-family: "Zen Maru Gothic", serif;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p,
a {
  color: #464646;
}
/* スクロールバー */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  margin-top: 6px;
  margin-bottom: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #bad227;
  border-radius: 5px;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  background-clip: padding-box;
}
/* title */

/* ------header------ */

/* リンクボタン */
.link_btn {
  position: relative;
  top: 80vh;
  margin: 0 auto;
  width: 60%;
}
.link_btn_box {
  display: flex;
  justify-content: space-between;
}
.link_btn a {
  position: relative;
  text-align: center;
  font-size: 24px;
  display: block;
  background-color: #ff7860;
  border-radius: 30px;
  color: #fff;
  width: 240px;
  margin: 0 24px;
  padding: 20px;
  transition: all 0.1s;
}
.link_btn a::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 90%;
  height: 80%;
  border-radius: 24px;
}
.link_btn a:hover::after {
  border: 3px solid #fff;
  animation: linkAnime 1s linear infinite;
}
.link_btn a:hover {
  background-color: red;
  scale: 1.1;
}
/* 新着情報 */
.newTopics {
  position: fixed;
  top: 18%;
  display: flex;
  margin: 16px;
  width: fit-content;
}
.newTopics_box {
  background-color: #fff;
  height: 350px;
  width: 300px;
  padding: 24px 20px;
  border-radius: 10px 0 10px 10px;
  border: 2px solid #bad227;
  overflow-y: auto;
}
.newTopics_box li {
  border-bottom: 1px solid #464646;
  width: 100%;
}
.newTopics_box a {
  display: block;
  padding: 16px 0;
}
.newTopics_box a:hover {
  background-color: rgb(226, 234, 204);
}
.newTopics_ber {
  position: absolute;
  left: calc(100% - 2px);
  background-color: #fff;
  height: fit-content;
  padding: 16px 8px;
  writing-mode: vertical-rl;
  border-radius: 0 10px 10px 0;
  border: 2px solid #bad227;
}

/* メールコンテンツ */

.mail_content {
  position: fixed;
  top: 10px;
  right: 200px;
  display: flex;
  justify-content: space-between;
}
.mail_content a {
  display: block;
  background-color: #ff7860;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  padding: 20px;
}
/* メインGIF */
.mov {
  width: 100%;
  height: 100%;
}
.mov img {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  object-fit: cover;
  min-width: 400px;
}
/* メインタイトル */
.titleImg img {
  position: fixed;
  object-fit: cover;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
  width: 35vw;
  min-width: 300px;
}

/* レスポンシブ */
@media screen and (max-width: 950px) {
  /* 新着情報 */
  .newTopics {
    transition: all 0.3s;
    transform: translateX(-106%);
    top: 30%;
  }
  .touch {
    transform: translateX(0);
  }
  /* ボタン */
  .link_btn {
    width: fit-content;
  }
  .link_btn a {
    font-size: 16px;
    width: 20vw;
    min-width: 100px;
  }
  /* メールコンテンツ */
  .mail_content a {
    margin-left: auto;
    width: 30px;
    height: 30px;
    padding: 4px;
    color: #fff;
  }

  /* メインタイトル */
  .titleImg img {
    position: fixed;
    object-fit: cover;
    right: 0px;
    top: 0;
    transform: translate(0, 0);
    width: 35vw;
    min-width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .link_btn a {
    margin: 0 8px;
  }
}
